{
    "version": "2017-02-28",
    "operation": "GET",
    "path": "/_search",
    "params": {
        "headers": {
            "Content-Type": "application/json"
        },
        "body": {
            "query": {
                "bool": {
                    "filter": [
                        { "term": { "enterpriseId": "$ctx.args.enterpriseId" } },
                        { "term": { "skey": "$ctx.args.skey" } }
                    ]
                }
            }
        }
    }
}